# Python virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Paket och byggfiler
lib/

#Claude
.claude/
CLAUDE.md

#Visual Studio code
.vscode/